<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="PUT" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
  <div>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <br>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br>

    <input type="submit" value="Update">
  </div>
</form>

</body>
</html>